<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>My test page</title>
  </head> 
  <body>
    <nav>
      <img src="/static/Image/dit_logo2.jpeg" class="logo">
      <img style="width: 160px ; height: 80px; padding-left: 0;" src="/static/Image/Agrade.png" class="logo">
      <div class="navigation">
        <ul>
            <i id="menu-close" class="fas fa-times"></i>
            <li><a href="/">Home</a></li>
            <li><a href="/Courses">Courses</a></li>
            <li><a href="/Admissions">Admissions</a></li> 
            <li><a href="/About">About</a></li>
            <li><a href="/Blog">Blog</a></li>
            <li><a href="/Sign up">Sign Up</a></li>
        </ul> 
        <img id = "menu-btn" src="/static/Image/menu.webp">
      </div>
    </nav>
    
    
    
    <section id="about-home">
      <h2>ABOUT DIT UNIVERSITY</h2>
    </section>
      



    <section id="about-container">
        <div class="about-image">
            <img src="/static/Image/collage2.jpg">
        </div>

        <div class="about-text">
            <h2>Welcome to DIT UNIVERSITY, Enhance your Future with best Offline/Online Courses</h2>
            <p>You can start your journey today by exploring our popular programs that suit your interests. Learn from industry experts and benefit from practical exposure</p>
            <div class="about-fe">
                <img src="/static/Image/key.png">
                <div class="fe-text">
                    <h5>500+ Courses</h5>
                    <p>Choose from a variety of undergraduate and postgraduate programs, specialized diplomas, and professional certifications.</p>
                </div>
            </div>
            <div class="about-fe">
              <img src="/static/Image/keyboard.png">
              <div class="fe-text">
                  <h5>Flexible Learning</h5>
                  <p>Our courses are designed to cater to both full-time students and working professionals with online and hybrid options.</p>
              </div>
          </div>
        </div>
    </section>


    
    
    
    
    
    
    
    
    
    
    <!-- ---features--- -->
    
    
    <section id="features">
      <h1>Awesome Features</h1>
      <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Transform Your Future at DIT University
        At DIT, we provide a dynamic environment for learning, innovation, and research to help you achieve your career aspirations.</p>
        
        <div class="fea-base">
          <div class="fea-box">
            <i class="fas fa-graduation-cap"></i>
            <h3>Scholarship Facilities</h3>
            <p>Scholarships and Financial Aid
              DIT University offers various scholarships based on merit and need, ensuring access to education for deserving students.
            </p>
          </div>
          
          <div class="fea-box">
            <i class="fas fa-certificate"></i>
            <h3>Global certifications</h3>
            <p>learning opportunities
              Choose from a wide range of online and blended learning courses designed to fit into your busy schedule, helping you learn anytime, anywhere.
            </p>
          </div>
          
          <div class="fea-box">
            <i class="fas fa-award fa-lg"></i>
            <h3>International Recognition</h3>
            <p>International Recognition
              Earn globally recognized certifications and degrees from DIT University, empowering you with qualifications that stand out in the global job market.
            </p>
          </div>
          
          
        </div>
      </section>
      
      
      
      <div class="image-campus">
          <div class="head-para">
              <h1>OUR GLOBAL CAMPUS</h1>
              <p>our campus is designed to inspire creativity and collaboration. Whether it's academics, sports, or leisure, every corner of DIT reflects our commitment to holistic growth."</p>



              
              <div class="program-section">
                <div class="program-box">
                    <h3>UNDERGRADUATE PROGRAMS</h3>
                    <p>Begin the Journey<br>
                        <strong>Undergraduate Courses</strong>
                    </p>
                    <a href="#">Explore</a>
                    <div class="arrow"></div>
                </div>
            
                <div class="program-box">
                    <h3>POSTGRADUATE PROGRAMS</h3>
                    <p>Take the Next Step<br>
                        <strong>Postgraduate Courses</strong>
                    </p>
                    <a href="#">Explore</a>
                    <div class="arrow"></div>
                </div>
            
                <div class="program-box">
                    <h3>DOCTORAL PROGRAMS</h3>
                    <p>Go Deeper into Knowledge<br>
                        <strong>Doctoral Courses</strong>
                    </p>
                    <a href="#">Explore</a>
                    <div class="arrow"></div>
                </div>
            </div>
    


          </div>
        <img src="/static/Image/campus.webp" class="responsive-image">
      </div>

      
      

    <section id="trust">
        <h1>Trusted By</h1>
        <p>Replinish man have thing gathering lights yielding shall to you</p>
        <div class="trust-img">
            <img src="/static/Image/school (1).png">
            <img src="/static/Image/school (2).png">
            <img src="/static/Image/school.png">
            <img src="/static/Image/university.png">
            <img src="/static/Image/books.png">
            <img src="/static/Image/education.png">
        </div>
    </section>

  <!-- ----courses----- -->

 
<br>
<br>
<br>
<!-- ----Registration----form -->
          







   
        
        
    <!-- ----footer---- -->
    
    
    <footer>
      <div class="footer-col">
          <h3>TOP PRODUCTS</h3>
          <li>Manage Reputation</li>
          <li>Power Tools</li>
          <li>Managed Website</li>
          <li>Marketing Service</li>
      </div>

      <div class="footer-col">
          <h3>QUICK LINKS</h3>
          <li>Power Tools</li>
          <li>Home</li>
          <li>Marketing Service</li>
          <li>Manage Reputation</li>
      </div>
        
      
      <div class="footer-col">
          <h3>FEATURES</h3>
          <li>Jobs</li>
          <li>Brand Assets</li>
          <li>Investor Relations</li>
          <li>Terms Of Service</li>
      </div>

      <div class="footer-col">
          <h3>RESOURCES</h3>
          <li>research</li>
          <li>Experts</li>
          <li>Guides</li>
          <li>Marketing Service</li>
      </div>


      <div class="footer-col">
          <h3>Newsletter</h3>
          <p>You can trust us. we only send promo offers ,</p>
          <div class="subscribe">
              <input type="text" placeholder="Your Email Address">
              <a href="#" class="yellow"> <button type="button"><span></span>SUBSCRIBE</button></a>
          </div>
      </div>
        

      <div class="copyright" >
        <p>Copyright @2024 All rights reserved | This template is made by Bhavya Sharma</p>
        <div class="pro-links">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div> 

    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Toggle active class on menu button click
        $('#menu-btn').click(function() {
            $('nav .navigation ul').addClass('active');  // Show the menu
        });
    
        // Remove active class on close button click
        $('#menu-close').click(function() {
            $('nav .navigation ul').removeClass('active');  // Hide the menu
        });
    </script>



  </body>
</html>
