<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <title>My test page</title>
  </head> 
  <body>


    <!-- ----navigation bar--- -->


    <nav>
      <div>
        <img src="/static/Image/dit_logo2.jpeg" class="logo">
        <img style="" src="/static/Image/Agrade.png" class="logo">

      </div>
          <div class="navigation">
                  <ul>
                      <i id="menu-close" class="fas fa-times"></i>
                      <li><a href="#">Home</a></li>
                      <li><a href="/Courses">Courses</a></li>
                      <li><a href="/Admissions">Admissions</a></li>
                      <li><a href="/About">About</a></li>
                      <li><a href="/Blog">Blog</a></li>
                      <li><a href="/Sign up">Sign Up</a></li>
                  </ul>
                  <img id = "menu-btn" src="/static/Image/menu.webp">
          </div>
    </nav>


    <br>
    <br>
    <br>
    <br>
    <br>
   
    
 <!-- -------home-------    -->


    <section id="home">
        <h2>INDIA'S NO.1 UNIVERSITY</h2>
        <p>"DIT University, Dehradun, is a leading institution offering world-class education with state-of-the-art infrastructure and expert faculty. Renowned for its excellence in academics, research, and industry collaboration, DIT shapes future leaders and innovators."</p>

        <div class="btn">
          <a class="blue" href="#">Watch More</a>
          <a class="yellow" href="/Sign up">Sign Up</a>
        </div>
    </section>


    


    <!-- ---features--- -->

    
    <section id="features">
      <h1>Awesome Features</h1>
      <p style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Transform Your Future at DIT University
        At DIT, we provide a dynamic environment for learning, innovation, and research to help you achieve your career aspirations.</p>

        <div class="fea-base">
            <div class="fea-box">
                <i class="fas fa-graduation-cap"></i>
                <h3>Scholarship Facilities</h3>
                <p>Scholarships and Financial Aid
                  DIT University offers various scholarships based on merit and need, ensuring access to education for deserving students.
                  </p>
            </div>

            <div class="fea-box">
                <i class="fas fa-certificate"></i>
                <h3>Global certifications</h3>
                <p>learning opportunities
                  Choose from a wide range of online and blended learning courses designed to fit into your busy schedule, helping you learn anytime, anywhere.
                </p>
            </div>

            <div class="fea-box">
                <i class="fas fa-award fa-lg"></i>
                <h3>International Recognition</h3>
                <p>International Recognition
                  Earn globally recognized certifications and degrees from DIT University, empowering you with qualifications that stand out in the global job market.
                </p>
            </div>


        </div>
    </section>



    <section id = "recruiters">
      <img src="/static/Image/top_recruiters-banner (1).webp">
    </section>


  <!-- ----courses----- -->

  <section id="course">
      <h1 style="font-weight: 2000; font-size: 50px; color: rgb(46 ,46, 59);">Our Popular Courses</h1>
      <p>Replenish man have thing gathering lights yielding shall you</p>
      <div class="course-box">
        
          <div class="courses">
                  <img src="/static/Image/img1.webp">
                  <div class="details">
                      <span>Updated 02/07/2024</span>
                      <h3 style="font-weight: 1800;">JavaScript Beginners Coarse</h3>
                      <div>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <span>(239)</span>
                        
                      </div>
                  </div>
                  <div class="cost">
                    $59.9
                  </div>

          </div>

          <div class="courses">
              <img src="/static/Image/img2.jpeg">
              <div class="details">
                  <span>Updated 02/07/2024</span>
                  <h3 style="font-weight: 1800;">JavaScript Beginners Coarse</h3>
                  <div>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <span>(239)</span>
                    
                  </div>
              </div>
              <div class="cost">
                $59.9
              </div>
          </div>


          <div class="courses">
            <img src="/static/Image/img3.jpeg">
            <div class="details">
                <span>Updated 02/07/2024</span>
                <h3 style="font-weight: 1800;">JavaScript Beginners Coarse</h3>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                  
                </div>
            </div>
            <div class="cost">
              $59.9
            </div>
          </div>


          <div class="courses">
            <img src="/static/Image/img4.jpeg">
            <div class="details">
                <span>Updated 02/07/2024</span>
                <h3 style="font-weight: 1800;">JavaScript Beginners Coarse</h3>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                  
                </div>
            </div>
            <div class="cost">
              $59.9
            </div>
          </div>


          <div class="courses">
            <img src="/static/Image/img5.jpeg">
            <div class="details">
                <span>Updated 02/07/2024</span>
                <h3 style="font-weight: 1800;">JavaScript Beginners Coarse</h3>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                  
                </div>
            </div>
            <div class="cost">
              $59.9
            </div>
          </div>



          <div class="courses">
            <img src="/static/Image/img6.webp">
            <div class="details">
                <span>Updated 02/07/2024</span>
                <h3 style="font-weight: 1800;">JavaScript Beginners Coarse</h3>
                <div>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                  
                </div>
            </div>
            <div class="cost">
              $59.9
            </div>
          </div>


      </div>
  </section>

<br>
<br>
<br>

<br>
<!-- ----Registration----form -->
          
    <section id="registration">
        <div class="reminder">
            <p>Get 100+ courses for free</p>
            <h1>Register To Get It</h1>
            <div class="time">
                <div class="date">
                    25+ <br> Years
                </div>

                <div class="date">
                  250+ <br> Faculty
                </div>

                <div class="date">
                5000+ <br> Students
                </div>

                <div class="date">
                  20,000+ <br> Glorius Alumini
                </div>
            </div>
        </div>

        <div class="form">
            <h3 style="color: rgb(46 ,46, 59); font-size: x-large;">Create Free Account NOW!</h3>
            <input type="text" placeholder="Name" name="" id="">
            <input type="text" placeholder="Email Address" name="" id="">
            <input type="text" placeholder="Phone Number" name="" id="">
            <div>
              <button type="button"><span></span>Submit Form</button>

            </div>
        </div>

    </section>




    <!-- ------Alumini----- -->



<section id="experts">
    <h1>Community Experts</h1>
    <p>Replenish man have thing gathering lights yielding shall you </p>
    <div class="expert-box">

        <div class="profile">
              <img src="/static/Image/p1.png" alt="">
              <h3>Shubham Tyagi</h3>
              <p>Senior Research Scientist</p>
              <div class="pro-links">
                  <i class="fab fa-facebook-f fa-lg"></i>
                  <i class="fab fa-instagram fa-lg"></i>
                  <i class="fab fa-linkedin-in fa-lg"></i>
              </div>
        </div>

        <div class="profile">
              <img src="/static/Image/p2.png" alt="">
              <h3>Divyangi Yadav</h3>
              <p>Btech CSE</p>
              <div class="pro-links">
                  <i class="fab fa-facebook-f fa-lg"></i>
                  <i class="fab fa-instagram fa-lg"></i>
                  <i class="fab fa-linkedin-in fa-lg"></i>
              </div>
        </div>


        
        <div class="profile">
              <img src="/static/Image/p3.png" alt="">
              <h3>Abhishek Kumar</h3>
              <p>OSP Content analysis</p>
              <div class="pro-links">
                  <i class="fab fa-facebook-f fa-lg"></i>
                  <i class="fab fa-instagram fa-lg"></i>
                  <i class="fab fa-linkedin-in fa-lg"></i>
              </div>
        </div>

        <div class="profile">
              <img src="/static/Image/p4.png" alt="">
              <h3>Debopam Acharya</h3>
              <p>Network, Mobile Computing</p>
              <div class="pro-links">
                  <i class="fab fa-facebook-f fa-lg"></i>
                  <i class="fab fa-instagram fa-lg"></i>
                  <i class="fab fa-linkedin-in fa-lg"></i>
              </div>
        </div>
        
      </div>
    </section>


    <br>
    <br>
    <br>
    <br>   
        
        
        
        
        
        
    <!-- ----footer---- -->
    
    
    <footer>
      <div class="footer-col">
          <h3>TOP PRODUCTS</h3>
          <li>Manage Reputation</li>
          <li>Power Tools</li>
          <li>Managed Website</li>
          <li>Marketing Service</li>
      </div>

      <div class="footer-col">
          <h3>QUICK LINKS</h3>
          <li>Power Tools</li>
          <li>Home</li>
          <li>Marketing Service</li>
          <li>Manage Reputation</li>
      </div>
        
      
      <div class="footer-col">
          <h3>FEATURES</h3>
          <li>Jobs</li>
          <li>Brand Assets</li>
          <li>Investor Relations</li>
          <li>Terms Of Service</li>
      </div>

      <div class="footer-col">
          <h3>RESOURCES</h3>
          <li>research</li>
          <li>Experts</li>
          <li>Guides</li>
          <li>Marketing Service</li>
      </div>


      <div class="footer-col">
          <h3>Newsletter</h3>
          <p>You can trust us. we only send promo offers ,</p>
          <div class="subscribe">
              <input type="text" placeholder="Your Email Address">
              <a href="#" class="yellow"> <button type="button"><span></span>SUBSCRIBE</button></a>
          </div>
      </div>
        

      <div class="copyright" >
        <p>Copyright @2024 All rights reserved | This template is made by Bhavya Sharma</p>
        <div class="pro-links">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div> 

    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Toggle active class on menu button click
        $('#menu-btn').click(function() {
            $('nav .navigation ul').addClass('active');  // Show the menu
        });
    
        // Remove active class on close button click
        $('#menu-close').click(function() {
            $('nav .navigation ul').removeClass('active');  // Hide the menu
        });
    </script>
    



  </body>
</html>
